body {
  margin: 0;
  padding: 0;
  background: #45433f;
  color: #687067; }

header {
  position: fixed;
  background: #45433f;
  text-align: center;
  width: 100%; }

h1 {
  color: #bdbb99;
  text-align: center; }

h2 {
  margin: 5% 0 0 0;
  padding: 0;
  text-align: center; }

h4 {
  text-align: center; }

h5 {
  text-align: center;
  color: #212226; }

section {
  width: 80%;
  margin: 10% 10% 0 10%;
  color: #687067;
  display: inline-block; }

article {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  border: 5px solid #687067;
  height: 475px;
  margin: 2% auto 0 2%;
  background: #f0eac3; }
  article img {
    width: 64%;
    height: 50%;
    box-shadow: 3px 3px 7px #bdbb99;
    margin: 10% 0 0 17%; }

p {
  display: block;
  width: 300px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word; }

button {
  width: 70px;
  display: inline-block;
  margin: 0 0 0 15%;
  padding: 0;
  position: relative;
  top: 5px; }
