$blue: #3D5184;
$sea: #8FFFDE;
$green: #dfff90;
$yellow: #ffba04;
$navy: #003164;
$pink: #Eb88ff;

body {
  background: $blue;
}
h1 {
  color: $sea;
  text-align: center;
}

h2 {
  color: $navy;
}

h3 {
  color: $pink;
}
