body {
  background: #262a2d; }

aside {
  width: 12%;
  float: left;
  display: inline-block; }

h1 {
  color: #3f9ba6;
  text-align: center; }

h2 {
  color: #829e87;
  text-align: center; }

h3 {
  color: #403f39; }

a {
  text-decoration: none;
  color: #403f39; }

.contentWrap {
  width: 85%;
  margin: 0 0 0 2%;
  display: inline-block;
  height: 500px; }
  .contentWrap img {
    width: 250px;
    height: 200;
    display: inline-block;
    border: 2px solid #3f9ba6; }

button {
  display: block;
  height: 50px;
  width: 100%;
  background: #829e87; }
