$zenblue: #3f9ba6;
$zendark: #262a2d;
$zengrey: #403f39;
$zengreen: #4d735e;
$zenlight: #829e87;


body {
  background: $zendark;
}
aside {
  width: 12%;
  float: left;
  display: inline-block;
}
h1 {
  color: $zenblue;
  text-align: center;
}

h2 {
  color: $zenlight;
  text-align: center;
}

h3 {
  color: $zengrey;
}
a{
  text-decoration: none;
  color: $zengrey;
}
.contentWrap{
  width: 85%;
  margin: 0 0 0 2%;
  display: inline-block;
  height: 500px;
img {
  width: 250px;
  height: 200;
  display: inline-block;
  border: 2px solid $zenblue;
}}

button {
  display: block;
  height: 50px;
  width: 100%;
  background: $zenlight;
}
