* {
  border: 1px solid red; }

body {
  margin: 0;
  padding: 0; }

header {
  background: #F5F5F5;
  width: 100%;
  max-height: 150px; }

nav {
  display: inline-block; }

nav ul li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
  color: #4183C4; }

a {
  text-decoration: none; }

.main {
  width: 70%;
  margin: 0 0% 0 0;
  display: inline-block; }

.repositories {
  width: 75%;
  margin: 0 0 0 20%;
  display: inline-block; }

.public {
  width: 70%;
  margin: 0 0 0 0;
  color: #4183C4;
  display: none; }
  .public li {
    float: right;
    width: 70%;
    margin: 0 0% 0 0;
    list-style-type: none; }

aside {
  width: 20%;
  height: 100%;
  float: left;
  margin: 0 0 0 10%; }
  aside img {
    max-height: 300px;
    max-width: 250px; }

footer {
  position: relative;
  width: 100%;
  min-height: 150px; }

