body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1 {
  color: black;
  font-family: arial, sans-serif; }

h2 {
  color: #4183C4; }

h3 {
  color: #BBBBBB; }

h4 {
  color: black;
  font-weight: bold; }

h5 {
  color: #666666; }

h6 {
  color: #BBBBBB; }

header {
  background: #BBBBBB;
  width: 100%;
  min-height: 75px;
  max-height: 150px; }
  header nav {
    background: #BBBBBB; }
  header ul {
    display: inline-block;
    background: #BBBBBB; }
    header ul li {
      list-style-type: none;
      display: inline-block;
      background: #BBBBBB; }

.searchbar {
  float: left; }

.taskbar {
  float: right; }

.repos {
  width: 60%;
  margin: 0 0 0 0;
  display: inline-block; }
  .repos article {
    min-height: 50px;
    bottom-border: 1px solid #BBBBBB; }

.menu ul li {
  display: inline-block; }
  .menu ul li a {
    display: inline-block;
    text-decoration: none; }

.repoSearchBar ul {
  display: inline-block; }
  .repoSearchBar ul li {
    display: inline-block; }

article h2 {
  color: #4183C4; }

aside {
  width: 20%;
  margin: 0 0 0 19%;
  float: left;
  display: inline-block; }
  aside img {
    width: 230px;
    height: 230px;
    border-radius: 20px; }

footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  max-height: 100px; }

.foot1, .foot2 {
  display: inline-block;
  width: 28%; }
  .foot1 ul, .foot2 ul {
    display: inline-block; }
    .foot1 ul li, .foot2 ul li {
      display: inline-block; }
      .foot1 ul li a, .foot2 ul li a {
        text-decoration: none; }

.octicon {
  color: #666666; }

.activity {
  display: none; }

.inactive {
  display: none; }
